body {
  width: 100%;
  background-color: #0C4767;

}


  /* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 6px;
    font-size: 6px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
    background-color: #f1f1f1;
    border: 1px solid #555;
    top: 0;
    
   
}

li a {
    display: block;
    color: #000;
    padding: 8px 12px;
    text-decoration: none;
    width: 90px;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4CAF50;
    color: white;
}

li {
    text-align: center;
    border-bottom: 1px solid #555;
    float: left;
    

}

li:last-child {
    border-bottom: none;
}

a {
	 display: inline-block;
	 padding: 6px;
	 background-color: #dddddd;
}

h1 {
   background-color: red;
   margin: 10px;
   color: white;

}

#picme {

   float: left;
   height: 100px;
   width: 100px;
   -moz-transform: rotate(90deg); 
   -ms-transform: rotate(90deg); 
   -webkit-transform: rotate(90deg);
  
}

#title {
   margin: 40px;
   clear: both;
   display: block;
   color: white;
 
}

p {
   width: 100%;
   background-color: red;
   color: white;
   border-style: solid;
   border-color: black

}

h2 {
   text-decoration: underline;
   color: white;
}

section {
   margin: 20px;
   display: block;
}


ol {
   list-style-type: disc;
}

.images {
   display: block;
}

.education {
   display: block;
}


#imageme {
   display: block;
   width: 100%;
}

#picme {
    margin: 25px;
    height: 150px;
    width: 200px;
}

section#education {
   clear: both;
   display: block;
}



h3 {
  color: white;
}